<div *ngIf="alertType!=''" class="alert" [ngClass]="{'alert-success': alertType=='success', 'alert-danger': alertType=='error'}" role="alert">
    <strong> {{ alertStrong }}</strong> {{ alertMessage }}
</div>
<div class="col-md-12">
    <div class="row justify-content-around">
        <div class="col-md-4">
            <!--Bienvenida-->
            <p class="lead">Snuuper!</p>
            View in construction

            <p>Replicated view from Home page</p>
        </div>
        <div class="col-md-4">
            <!-- Acciones -->
            <p>Actions</p>
            <button class="btn btn-success">Pay</button>
            <a class="btn btn-info" routerLink="/stations/1" routerLinkActive="active">Keep shopping</a><!-- This should return to the last stations view visited *UNDER DEVELOPEMENT*-->
            <button class="btn btn-danger" (click)="emptyCart()">Empty Cart</button>
        </div>        
    </div>
</div>