.navigator{
    margin-bottom: 20px;
}
.card-header {
    background-color: #25f775;
}

h2 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color:#ffffff;
}

.card {
    text-align: center;
    margin-top: 18px;
    padding-left: 0px;
    padding-right: 0px;
    -webkit-box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.2);
}
/*  Link Menu  */
nav a {
  padding: 5px 10px;
  text-decoration: none;  
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav .menuItem{
  margin-top: 10px;
}

nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
    color: #fff;
    background-color: #6aed77;
}
nav a.active {
  color: #fff;
  font-weight: bold;
  background-color: #25f775;
}

li a, .dropbtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}